<mat-card>
  <h2 class="mat-title">Inward Pass #{{selectedInwardpass?.inwardpassnumber}}</h2>
  <h2 class="mat-caption mat-body-1">below are inward pass details</h2>
  <hr>
  <div class="mat-body-1">
    <span class="mat-title inventoryledger">{{"Customer:" | uppercase}}&nbsp;</span>
    <span>{{selectedInwardpass?.inwardpasscustomer.name | capFilter}}</span>
  </div>
  <hr>
  <table class="mat-body-1 table-no-border table table-stripped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Qty</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Weight</th>
        <th>Calc Weight</th>
        <th>Store</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of selectedInwardpass?.inwardpassproducts; let i=index;">
        <td>{{i+1}}</td>
        <td>{{product.cartquantity}}</td>
        <td>{{product.name}}</td>
        <td>{{product.categoryname}}</td>
        <td *ngIf="product.type === 'Weighted'">{{product.cartweight}}</td>
        <td *ngIf="product.type !== 'Weighted'">N/A</td>
        <td *ngIf="product.type === 'Weighted'">{{product.calcweight}}</td>
        <td *ngIf="product.type !== 'Weighted'">N/A</td>
        <td>{{product.cartstores.name}}</td>
      </tr>
      <tr>
        <td colspan="4">
          <mat-form-field class="example-full-width">
            <textarea matInput disabled="true" value="{{selectedInwardpass?.inwardpassnotes}}" placeholder="Inward Gate Pass Notes"></textarea>
          </mat-form-field>
        </td>
      </tr>
    </tbody>
  </table>
</mat-card>