<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <!-- <button mat-icon-button *ngIf="sidenav.open()" (click)="sidenav.toggle()"><mat-icon>arrow_back</mat-icon></button> -->
  
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title logo-heading">Dewan International</span>
  <button mat-icon-button matTooltip="Logout!" color="warn" (click)="logout()" ><mat-icon>power_settings_new</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container mat-body-1">
  <mat-sidenav #sidenav mode="{{navMode}}" opened="true">
    <div class="sidenav-content">
      <span class="logo"><img src="assets/images/eyesteel.png" width="60px" /></span>
      <mat-nav-list>
        <a *ngIf="authUser._id === 'admin'" class="mat-button" mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
        <a *ngIf="authUser._id === 'deo'" class="mat-button" mat-list-item href="#/deodashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>

      </mat-nav-list>    
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/products"> 
          <mat-icon mat-list-icon>shop</mat-icon> Products
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchase"> 
          <mat-icon mat-list-icon>shopping_basket</mat-icon> Purchases
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/inwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Inward Pass
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/outwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Outward Pass
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereceipt"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Receipts
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasepayment"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Payments
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoice Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> purchase Return
        </a>
      </mat-nav-list>


    </div>
  </mat-sidenav>

  <mat-grid-list cols="12">
    <div class="example-scrolling-content mat-body-1">
      <!-- <div class="row">
        <div class="col-md-4">
          <mat-card>
            <h2 class="mat-title">Settings 

            </h2>
            <mat-list>
              <mat-list-item>Product Categories</mat-list-item>
              <mat-list-item>Company Info</mat-list-item>
            </mat-list>
          </mat-card>
        </div>      
        <div class="col-md-8">
          <mat-card>
            <h2 class="mat-title">Settings
              <button mat-mini-fab color="primary" (click)="goBack()" matTooltip="Go Back!" class="pull-right">
                <mat-icon>arrow_back</mat-icon>
              </button>
            </h2>
          </mat-card>
        </div>      
      </div> -->
      <mat-card>
        <h2 class="mat-title">Settings
          <button mat-mini-fab color="primary" (click)="goBack()" matTooltip="Go Back!" class="pull-right">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </h2>
        <h2 class="mat-caption mat-body-1">List of system settings</h2>
          <hr>
<!--         <mat-list>
          <mat-list-item>Product Categories</mat-list-item>
          <mat-list-item>Company Info</mat-list-item>
        </mat-list> -->
        <mat-nav-list>
          <a class="mat-body-1" mat-list-item href="#/productcategories"> 
            <mat-icon mat-list-icon>folder</mat-icon> Product Categories
          </a>
        </mat-nav-list>
        <mat-nav-list>
            <a class="mat-body-1" mat-list-item href="#/companyinfo"> 
              <mat-icon mat-list-icon>info</mat-icon> Company Info
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a class="mat-body-1" mat-list-item href="#/cashsettings"> 
              <mat-icon mat-list-icon>account_balance_wallet</mat-icon> Account Settings
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a class="mat-body-1" mat-list-item href="#/storesettings"> 
              <mat-icon mat-list-icon>store</mat-icon> Store Settings
            </a>
        </mat-nav-list>

      </mat-card>
    </div>
  </mat-grid-list>
</mat-sidenav-container>