<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <!-- <button mat-icon-button *ngIf="sidenav.open()" (click)="sidenav.toggle()"><mat-icon>arrow_back</mat-icon></button> -->
  
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title logo-heading">Dewan International</span>
  <button mat-icon-button matTooltip="Logout!" color="warn" (click)="logout()" ><mat-icon>power_settings_new</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container mat-body-1">
  <mat-sidenav #sidenav mode="{{navMode}}" opened="true">
    <div class="sidenav-content">
      <span class="logo"><img src="assets/images/eyesteel.png" width="60px" /></span>
      <mat-nav-list>
        <a *ngIf="authUser._id === 'admin'" class="mat-button" mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
        <a *ngIf="authUser._id === 'deo'" class="mat-button" mat-list-item href="#/deodashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>    
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/products"> 
          <mat-icon mat-list-icon>shop</mat-icon> Products
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchase"> 
          <mat-icon mat-list-icon>shopping_basket</mat-icon> Purchases
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/inwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Inward Pass
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/outwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Outward Pass
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereceipt"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Receipts
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasepayment"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Payments
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoice Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> purchase Return
        </a>
      </mat-nav-list>

    </div>
  </mat-sidenav>
<!--   <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <mat-icon>add</mat-icon>
  </button> -->
  <div class="example-scrolling-content mat-body-1">
    <div class="row">
      <div class="col-md-3">
<!--         <div class="col-md-12">
          <mat-card>
            <h2 class="mat-title">  
              Selected Customer
            </h2>
            <h2 class="mat-caption mat-body-1">below is selected customer</h2>
            <hr>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter Keyword" aria-label="State" [matAutocomplete]="auto2" [formControl]="addCustomerForm.controls['customerCtrl']">
              <mat-autocomplete #auto2="matAutocomplete">
                <mat-option (onSelectionChange)="selectCustomer(state)" *ngFor="let state of customerStates | async" [value]="state.name">
                  <span>{{ state.name }}</span> |
                  <small>{{state.address}}</small>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-card>
        </div> -->
<!--         <div class="col-md-12 mt-20">
          <mat-card>
            <h2 class="mat-title">
              Selected Customer
            </h2>
            <h2 class="mat-caption mat-body-1">following is the selected customer</h2>
            <hr>
            <div class="example-container customer-form" *ngIf="selectedCustomer">
              <mat-form-field>
                <input matInput disabled="true" placeholder="Enter Name" type="text" name="name" value="selectedCustomer.name" [(ngModel)]="selectedCustomer.name">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Enter Address" type="text" name="address" value="selectedCustomer.address" [(ngModel)]="selectedCustomer.address">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Enter Phone" type="text" name="phone" value="selectedCustomer.phone" [(ngModel)]="selectedCustomer.phone">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Enter E-mail" type="text" name="email" value="selectedCustomer.email" [(ngModel)]="selectedCustomer.email">
              </mat-form-field>
            </div>       
          </mat-card>
        </div> -->
        <!-- <div class="col-md-12"> -->
          <mat-card>
            <h2 class="mat-title">
              Purchase Customer
            </h2>
            <h2 class="mat-caption mat-body-1">following is the purchase customer</h2>
            <hr>
            <div class="example-container customer-form">
              <mat-form-field>
                <input matInput disabled="true" placeholder="Customer Name" type="text" name="name" value="{{selectedInward?.inwardpasscustomer.name}}">
              </mat-form-field>
              <mat-form-field>
                <input matInput disabled="true" placeholder="Customer Address" type="text" name="address" value="{{selectedInward?.inwardpasscustomer.address}}">
              </mat-form-field>
              <mat-form-field>
                <input matInput disabled="true" placeholder="Customer Phone" type="text" name="phone" value="{{selectedInward?.inwardpasscustomer.phone}}">
              </mat-form-field>
              <mat-form-field>
                <input matInput disabled="true" placeholder="Customer E-mail" type="text" name="email" value="{{selectedInward?.inwardpasscustomer.email}}">
              </mat-form-field>
            </div>       
          </mat-card>
        <!-- </div>         -->
      </div>
      <div class="col-md-9">
        <mat-card>
          <h2 class="mat-title">Purchase Inward Pass #{{selectedInward?.inwardpassnumber}}            
            <a routerLink="/inwardpass" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right">
              <mat-icon>arrow_back</mat-icon>
            </a>
          </h2>
          <h2 class="mat-caption mat-body-1">convert below inward pass to purchase</h2>
          <button mat-raised-button color="warn" (click)="addPurchase()"> Cash Out</button>  
          <h5 class="pull-right mat-body-1" *ngIf="cartProducts?.length == 0">Cart Total:- <strong class="grand-total">{{0 | number}}</strong></h5>  
          <h5 class="pull-right mat-body-1" *ngIf="cartProducts?.length != 0">Cart Total:- <strong class="grand-total">{{cartTotal | number}}</strong></h5>
          <hr>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Keyword" aria-label="State" [matAutocomplete]="auto" [formControl]="addInvoiceForm.controls['stateCtrl']">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option (onSelectionChange)="selectCartProduct(state)" *ngFor="let state of filteredStates | async" [value]="state.name">
                <span>{{ state.name }}</span>
                <small class="stock-indicator">| Rs: </small>
                <small>{{state.price}}</small>
                <span *ngFor="let store of state.stores; let i=index;">
                  <small class="stock-indicator"><span *ngIf="i===0">|&nbsp;</span>{{store.name}}:</small> 
                  <small>{{store.stock}}<span *ngIf="i!==state.stores.length-1">,</span></small> 
                </span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <table class="mat-body-1 table-no-border table-responsive table table-stripped table-hover">
            <thead>
              <tr>
                <th>Qty</th>
                <th>Name</th>
                <th>Batch Number</th>
                <th>Weight</th>
                <th>Calc Weight</th>
                <th>Price</th>
                <th>Store</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of cartProducts; let i=index;">
                <!-- <td>{{product.cartquantity}}</td> -->
                <td><input matInput type="number" [(ngModel)]="product.cartquantity" (change)="changeQuantity(product.cartquantity, product)" value="{{product.cartquantity}}" /></td>
                <td>{{product.name}}</td>
                <td>{{product.batchnumber}}</td>
                <!-- <td>{{product.cartweight}}</td>
                <td *ngIf="product.weight === 'none'">N/A</td>
                <td *ngIf="product.weight !== 'none'">{{product.calcweight}}</td> -->
                <!-- <td *ngIf="product.type === 'Weighted'"><input matInput type="number" [(ngModel)]="product.cartweight" (change)="changeWeight(product.cartweight, product)" value="{{product.cartweight}}" /></td>
                <td *ngIf="product.type !== 'Weighted'">N/A</td>
                <td *ngIf="product.type === 'Weighted'">{{product.calcweight}}</td> -->
                <td *ngIf="product.type === 'Weighted'">{{product.cartweight | number:'1.1-2'}}</td>
                <td *ngIf="product.type !== 'Weighted'">N/A</td>
                <td *ngIf="product.type === 'Weighted'"><input matInput type="number" [(ngModel)]="product.calcweight" (change)="changeCalcWeight(product.calcweight, product)" value="{{product.calcweight}}" /></td>
                <td *ngIf="product.type !== 'Weighted'">N/A</td>
                <td><input matInput type="number" [(ngModel)]="product.cartprice" (change)="changePrice(product.cartprice, product)" value="{{product.cartprice}}" /></td>
                <td *ngIf="product.module !== 'inwardpass'">
                  <mat-form-field>
                    <mat-select placeholder="Select Store" (change)="setProductStore($event, product)" ngDefaultControl>
                      <mat-option *ngFor="let item of product.stores" [value]="item._id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td *ngIf="product.module === 'inwardpass'">{{product.cartstores.name}}</td>
                <td>{{product.cartworth | number}}</td>
<!--                 <td>        
                  <button mat-icon-button color="warn" matTooltip="Delete" (click)="deleteCartItem(i, cartProducts)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td> -->
              </tr>
              <tr>
                <td colspan="4">
                  <mat-form-field class="example-full-width">
                    <textarea matInput [(ngModel)]="purchaseNotes" placeholder="Purchase Notes"></textarea>
                  </mat-form-field>
                </td>
                <td colspan="4">
                  <div class="pull-right price">
                    Grand Total:- <strong class="grand-total">{{cartTotal | number}}</strong>
                  </div>
                </td>

              </tr>
            </tbody>
          </table>
        </mat-card>
      </div>
    </div>
  </div>

</mat-sidenav-container>