/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import "~@angular/material/prebuilt-themes/purple-green.css";*/
/*
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./icons/iconfont/MaterialIcons-Regular.eot);  For IE6-8 
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(./icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(./icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}*/
body{
  margin: 0px;
  background-color: #fafafa;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.table-no-border thead tr th {
    border-top: none !important;
    color: #279BC9;
    font-size: 12px;
    font-weight: 500;
}
.example-sidenav-fab-container{
  border:none !important;
}
.mat-title {
    color: #279BC9;
}
.subheading-1 {
    color: #279BC9;
}

.mat-caption {
    color: #000;
}
.stock-indicator {
    color: #279BC9 !important;
}
.mt-20{
  margin-top: 20px !important;
}
.mb-20{
  margin-bottom: 20px !important;
}
.mt-10{
  margin-top: 10px !important;
}
.mb-10{
  margin-bottom: 10px !important;
}
.mt-5{
  margin-top: 5px !important;
}
.mb-5{
  margin-bottom: 5px !important;
}

/*.grand-total:after {
    content: "RS.";
    margin-left: 1px;
    font-weight: bold;
    font-size: 8px;
}
.net-weight:after {
    content: "KG.";
    margin-left: 1px;
    font-weight: bold;
    font-size: 8px;
}*/

.product-stock{
  text-align: right;
  font-size: 20px;
/*  font-weight: 600;*/
}
.product-stock::after{
  /*color: #279BC9;*/
  /*font-size: 20px;*/
/*  font-weight: 600;*/
}

.mat-toolbar .mat-title.logo-heading {
    color: #fff;
    font-size: 25px !important;
    padding-top: 15px;
}

/*logo*/
.logo {
    display: block;
    text-align: left;
    padding-left: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*border-bottom: 1px solid #c9c9c9;*/
}
.logo img {
    width: 25%;
}


.mat-toolbar{
  background: #3f51b5;
  color:#fff;
}


.sidenav-content .mat-button.mat-list-item {
    text-transform: uppercase;
    display: inline-flex;
    font-size: 12px !important;
    width: 100%;
    color: #fff;
}
.mat-nav-list{
  padding-top: 0px !important;
}

/*SUBTITLES */
.subtitles {
    color: #279BC9;
    font-weight: 500 !important;
}

.subtitles .grand-total, .subtitles .mat-body-1 {
    color: #000 !important;
    font-weight: normal !important;
}


mat-header-cell.mat-header-cell .mat-sort-header-container .mat-sort-header-button {
    color: red;
    color: #279BC9;
    font-weight: 700 !important;
}

/*Table*/
.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-line.active {
    color: red;
}

.homelist .mat-line mat-icon {
    font-size: 15px;
    position: absolute;
    top: 2px;
    left: -2px;
}

.homelist .list-line {
    position: relative;
    padding-left: 15px !important;
}

.homelist {
    border-bottom: 1px solid rgba(0,0,0,.12);
}

/*.homelist h4 {
    margin-bottom: 5px !important;
}*/

.input-field{
  width: 100px !important;
}
.inputqty{
  width: 55px !important;
}
.table td, .table th{
  min-width: 80px;
  font-size: 14px;
}
.sidenav-content {
    background-color: rgba(51,55,61,1);
}
.sidenav-content .mat-list-icon, .sidenav-content .mat-list-item-content .material-icons {
    color: #fff !important;
    width: 17px !important;
    height: 17px !important;
    font-size: 15px !important;
    padding: 8px !important;
}

.hint-date{
  width: 100%;
  text-align: right;
}
.mat-cell {
    font-size: 12px;
}
.mat-cell td {
    font-size: 12px;
}

/*Scroll Bar*/
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(63,81,181,0.4);

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(63,81,181,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(244,67,54,0.4);
}

.mat-toolbar-single-row {
    position: fixed;
    top: 0;
    z-index: 9;
}
.example-sidenav-fab-container mat-sidenav {
    position: fixed !important;
    height: 100% !important;
}
.sidenav-content{
    overflow: auto !important;
    padding-top: 64px !important;
}
.example-sidenav-fab-container{
  height: 100% !important;
  min-height: 678px !important;
  margin-top: 64px;
}

.mat-drawer-backdrop {
  height: 100% !important;
  position: fixed !important;
}